{% extends "template.html" %}
{% block head %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}
<body>
    {% block body %}

    <div class="row logo-row">
        <div class="col-md-12 my-col">
            <img src="{{ smite_logo }}" style="margin: auto; display: block;" />
        </div>

    </div>
    
    <form action="" margin:auto" method="POST">
        <div class="row options-row">
            <div class="col-md-3 options">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Boots
                    </label>
                </div>
            </div>
            <div class="col-md-3 options">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Starter item
                    </label>
                </div>
            </div>
            <div class="col-md-3 options">
                <div class="form-group">
                    <label for="damage-type">Damage type</label>
                    <select name="damage-type" id="damage-type" class="form-control">
                        <option value="1">Random</option>
                        <option value="2">Magical</option>
                        <option value="3">Physical</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row submit-row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
</body>




</html>
