{% extends "template.html" %}
    <body>
    {% block body %}

    <div class="row logo-row">
        <div class="col-md-12 my-col">
            <img src="{{ smite_logo }}" style="margin: auto; display: block;" />
        </div>

    </div>
    
    <form action="/random" margin:auto method="POST">
        <div class="row options-row" style="margin: auto;">
            <div class="col-md-4 options">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="boots" value="1" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Boots
                    </label>
                </div>
            </div>
            <div class="col-md-4 options">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="starter" value="1" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Starter item
                    </label>
                </div>
            </div>
            <div class="col-md-2 options">
                <div class="form-group">
                    <label for="damage-type">Damage type</label>
                    <select name="damage-type" id="damage-type" class="form-control">
                        <option value="1">Random</option>
                        <option value="2">Magical</option>
                        <option value="3">Physical</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 options">
                <div class="form-group">
                    <label for="role">Class</label>
                    <select name="role" id="role" class="form-control">
                        <option value="1">Random</option>
                        <option value="2">Mage</option>
                        <option value="3">Guardian</option>
                        <option value="4">Hunter</option>
                        <option value="5">Assassin</option>
                        <option value="6">Warrior</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row submit-row">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Go</button>
            </div>
        </div>
    </form>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <table class="table" id="table_god" style="width:25%; margin:auto">
        <colgroup>
            <col span="1" style="width:5%">
            <col span="1" style="width:5%">
            <col span="1" style="width:5%">
            <col span="1" style="width:5%">
            <col span="1" style="width:5%">
        </colgroup>
        <tbody>         
            {% for id in data_god %}
                <tr>
                    <td>
                        <img src="/static/images/Gods/{{id.image}}">
                    </td>
                    <td>
                        {{id.name}}
                    </td>
                    <td>
                        {{id.pantheon}}
                    </td>
                    <td>
                        {{id.damage}}
                    </td>
                    <td>
                        {{id.role}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

   <table class="table" id="table_items" style="margin:auto">        
        <thead>
            <tr>
            {% for key in column_html %}
                <th>{{key}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for item in data_starter %}
            <tr>
                <td>
                    {{item.name}}
                </td>
                <td>
                    <img src="/static/images/Items/starters/{{item.image}}">
                </td>
                
            </tr>
            {% endfor %}
            {% for item in data_boots %}
            <tr>
                <td>
                    {{item.name}}
                </td>
                <td>
                    <img src="/static/images/Items/boots/{{item.image}}">
                </td>
                     
            </tr>
            {% endfor %}

            {% for item in data_items %}
            <tr>
                <td>
                    {{item.name}}
                </td>
                <td>
                    <img src="/static/images/Items/T3/{{item.image}}">
                </td>
               
            </tr>
            {% endfor %}
        </tbody>        
    </table>
   <table class="table" id="table_items" style="margin:auto">
       <thead>
           {% for item in relics_data %}
           <tr>
               <th> Relics </th>
           </tr>
       </thead>
            {% endfor %}
       <tbody>
           {% for item in relics_data %}
           <tr>
               <td>
                   {{item.name}}
               </td>
               <td>
                   <img src="/static/images/Relics/{{item.image}}">
               </td>

           </tr>
           {% endfor %}
       </tbody>
   </table>
       {% endblock %}
</body>

</html>
